<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css"> -->
<link rel="shortcut icon" href="./img/favicon.png" type="image/x-icon">
<link rel="stylesheet" href="./fonts/ProximaNova/stylesheet.css">
<link rel="stylesheet" href="css/main.min.css">
<script src="https://kit.fontawesome.com/52e52e93f9.js"></script>
<title>Surface1</title>

